@model  HiQo.StaffManagement.Core.Models.UpsertUser
@{
    ViewBag.Title = "UpdateUser";
}

<html>
<head>
    <title>@ViewBag.Title </title>
</head>
<body>
    <div class=" panel panel-default" style="width: 400px">
        <div class="panel-heading alert-danger h4">
            @if (Model == null)
            {
                <text>Create new user</text>
            }
            else
            {
                <text>Update user</text>
            }
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @using (Html.BeginForm("EditUser", "User", new { area = "Admin" }, FormMethod.Post))
                        {
                            @Html.HiddenFor(user => user.UpsertUserId);
                            @Html.LabelFor(user => user.FirstName, "First name:")
                            <p>@Html.EditorFor(user => user.FirstName, new { htmlAttributes = new { @class = "form-control" } }) </p>
                            @Html.LabelFor(user => user.LastName, "Last name:")
                            <p>@Html.EditorFor(user => user.LastName, new { htmlAttributes = new { @class = "form-control" } })</p>
                            @Html.LabelFor(user => user.DateOfBirth, "Date of birth")
                            <p>@Html.EditorFor(user => user.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @type = "date" } })</p>
                            @*@Html.EditorFor(model => model.DateBirth,
                                new { htmlAttributes = new {@value = Model.DateBirth.ToString("MM/dd/yyyy"),@class = "form-control" }, })*@
                            <p>@Html.LabelFor(user => user.DepartmentId, "Department:")</p>
                            <p>@Html.DropDownListFor(user => user.DepartmentId, ViewBag.Departments as SelectList, new { @class = "form-control" })</p>
                            <p>@Html.LabelFor(user => user.CategoryId, "Category:")</p>
                            <p>@Html.DropDownListFor(user => user.CategoryId, ViewBag.Category as SelectList, new { @class = "form-control" })</p>
                            <p>@Html.LabelFor(user => user.PositionId, "Position:")</p>
                            <p>@Html.DropDownListFor(user => user.PositionId, ViewBag.Position as SelectList, new { @class = "form-control" })</p>
                            <p>@Html.LabelFor(user => user.PositionLevelId, "Position level:")</p>
                            <p>@Html.DropDownListFor(user => user.PositionLevelId, ViewBag.PositionLevel as SelectList, new { @class = "form-control" })</p>
                            @Html.HiddenFor(user => user.RoleId);
                            <p></p>
                            <input type="submit" value="Save changes" , class="btn btn-default" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>